[submodule "PillarAIColab"]
	path = PillarAIColab
	url = https://github.com/UrukuTelal/PillarConstrainedAICollaboration.git
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/UrukuTelal/Van_Nueman_Whisper.git
